* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: black;
	color: whitesmoke;
	font-family: 'Times New Roman';
	padding: 1em;
}

.heading {
	font-size: 3em;
	text-align: center;
	text-decoration: wavy;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70vh;
}
