* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background: black;
	color: whitesmoke; */
	background: burlywood;
	color: black;
	font-family: 'Times New Roman';
	padding: 1em;
}

.heading {
	font-size: 3em;
	text-align: center;
	text-decoration: wavy;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70vh;
	width: 50vw;
	border: 20px solid whitesmoke;
	border-radius: 20px;
	margin: auto;
	padding: 15px;
}
